<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dailytasksamplepoc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyTaskSamplePoc"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".kotlinomnicure.activity.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".kotlinomnicure.activity.MyVirtualTeamActivity"
            android:exported="false" />
        <activity
            android:name=".kotlinomnicure.activity.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".kotlinomnicure.activity.ActivityHospitalList"
            android:exported="false" />
        <activity
            android:name=".kotlinomnicure.activity.TransferPatientActivity"
            android:exported="false" />
        <activity
            android:name=".kotlinomnicure.activity.TrainingMaterialsActivity"
            android:exported="false" />
        <activity
            android:name=".kotlinomnicure.activity.ActivityEnotesDetail"
            android:exported="false" />
        <activity
            android:name=".kotlinomnicure.ActivityHospitalList"
            android:exported="false" />
        <activity
            android:name=".conditionalnavigation.ConditionalNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CovidTrackerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.VolleyBallActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeScreen"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RecyclerViewJSON"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>